<div th:fragment="SupplementaryPayRollDetails" >
	<div id="supplementaryDetails">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="supplementaryCurrentMontCard">
								<div class="card-body">
									<h5>Current Month</h5>
									<h6 id="supplementaryCurrentMonth">0</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="supplementaryFirstMontCard">
								<div class="card-body">
									<h5>One Month Before</h5>
									<h6 id="SupplementaryFirstMonth">0</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="supplementarySecondMontCard">
								<div class="card-body">
									<h5>Two Month's Before</h5>
									<h6 id="SupplementarySecondMonth">0</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>