<div th:fragment="IrDetails">
	<div id="IrEntries">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="todayIrDetails">
								<div class="card-body" >
									<h5>Today</h5>
									<h6 id="todayIrCount">0</h6>	
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="tenDaysIrDetails">
								<div class="card-body" >
									<h5>Ten Day's Ir Count</h5>
									<h6 id="TenDaysIrCount">0</h6>	
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="hundredDaysIrDetails">
								<div class="card-body" >
									<h5>Hundred Day's Ir Count</h5>
									<h6 id="hundredDaysIrCount">0</h6>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				
			</div>
		</div>
		
	</div>
	
</div>