<div th:fragment="TapalEntriesDetails">
	<div id="tapalEntries">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="todayTapalCard">
								<div class="card-body">
									<h5>Today</h5>
									<h6 id="todayTapalEntries">0</h6>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="tenDaysTapalCard">
								<div class="card-body ">
									<h5>Ten Days Before</h5>
									<h6 id="tenDaysTapalEntries">0</h6>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4">
							<div class="card positonAlignment info-card" id="hundredDaysTapalCard">
								<div class="card-body">
									<h5>Hundred Days Before</h5>
									<h6 id="hundredDaysTapalEntries">0</h6>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Tapal Details</h5>
							<div id="tapalChartDiv"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</div>