<div th:fragment="DashboardMain">
	  <!-- Start -->
	   <div class="card" id="moduleBasedCard">
          <div class="card-body">
        <div class="col-lg-12">
          <div class="row">

            <!-- Milk Receipt -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card sales-card" style="background-color:#00FF7F">
                <div class="card-body d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-receipt-cutoff"></i>
                  </div>
                  <h5 class="card-title ps-3">Milk Receipt</h5>
                </div>
                <div class="card-body d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="ps-3">
                      <h6>0</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Milk Receipt -->

               <!-- Marketing -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:Orange;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-shop-window"></i>
                    </div>
                    <h5 class="card-title ps-3">Marketing</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Marketing -->
              
               <!-- S&P -->
               <div class="col-xxl-3 col-md-3" id="storesAndPurchaseDashboard">
                <div class="card info-card sales-card" style="background-color:#CD853F">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-shop-window"></i>
                    </div>
                    <h5 class="card-title ps-3">S&P</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
								<h6><i class="bi bi-currency-rupee"></i></h6>
                      </div>
                      <div class="ps-3">
                        	<h6 id=storesAndPurchaseModuleBasedValue></h6>
                        	<!-- Border spinner -->
              				<div class="spinner-border" role="status" id='storesAndPurchaseModuleBasedValueLoadingSpinner'>
                				<span class="visually-hidden">Loading...</span>
              				</div><!-- End Border spinner -->
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End S&P -->
              
               <!-- Engineering -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#FFC0CB">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-wrench-adjustable"></i>
                    </div>
                    <h5 class="card-title ps-3">Engineering</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Engineering -->
              
               <!-- Projects -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#4169E1;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-list"></i>
                    </div>
                    <h5 class="card-title ps-3">Projects</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Projects -->

               <!-- P&E -->
               <div class="col-xxl-3 col-md-3" id="personalAndEstablishmentDashboard">
                <div class="card info-card sales-card" style="background-color:#C0C0C0;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <h5 class="card-title ps-3">P&E</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End P&E -->

               <!-- Finance -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#FF6347;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <h5 class="card-title ps-3">Finance</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Finance -->

               <!-- Planning -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#40E0D0;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-journal-check"></i>
                    </div>
                    <h5 class="card-title ps-3">Planning</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Planning -->

               <!-- Production -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#EE82EE;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-ui-checks-grid"></i>
                    </div>
                    <h5 class="card-title ps-3">Production</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Production -->

               <!-- Trust -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#F0E68C;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-hand-thumbs-up"></i>
                    </div>
                    <h5 class="card-title ps-3">-</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Trust -->

               <!-- Fleet Management -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#FFFF00;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-truck"></i>
                    </div>
                    <h5 class="card-title ps-3">Fleet Management</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Fleet Management -->

               <!-- NJSF -->
               <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card" style="background-color:#9ACD32;">
                  <div class="card-body d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-nut"></i>
                    </div>
                    <h5 class="card-title ps-3">NJSF</h5>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End NJSF -->
          </div>
        </div>
		 </div>
    </div>
    <!-- End -->
    
    <!-- Start -->
    <div class="card" id="locationBasedCard">
	     <div class="card-body">
    	    <div class="col-lg-12">
        	  <div class="row">

            <div class="col-xl-2 col-md-2"></div>

            <!-- Ambattur -->
            <div class="col-xl-2 col-md-2" id="ambatturCard">
                <div class="card info-card sales-card" style="background: linear-gradient(to bottom, #66ff99 20%, #ccff33 100%);">
                  <div class="card-body">
                    <h5 class="card-title">Ambattur</h5>
                  </div>
  
                </div>
            </div><!-- End Ambattur -->

            <!-- Madhavaram -->
            <div class="col-xl-2 col-md-2" id="madhavaramCard">
                <div class="card info-card sales-card" style="background: linear-gradient(to bottom, #ffff99 20%, #ff99ff 100%);">
                  <div class="card-body">
                    <h5 class="card-title">Madhavaram</h5>
                  </div>
  
                </div>
            </div><!-- End Madhavaram -->

            <!-- Sholinganallur -->
            <div class="col-xl-2 col-md-2" id="sholinganallurCard">
                <div class="card info-card sales-card" style="background: linear-gradient(to bottom, #ff33cc 20%, #ffff00 100%);">
                  <div class="card-body">
                    <h5 class="card-title">Sholinganallur</h5>
                  </div>
  
                </div>
            </div><!-- End Sholinganallur -->

            <!-- Tiruvannamalai -->
            <div class="col-xl-2 col-md-2" id="tiruvannamalaiCard">
                <div class="card info-card sales-card" style="background: linear-gradient(to bottom, #33ccff 20%, #ff99cc 100%);">
                  <div class="card-body">
                    <h5 class="card-title">Tiruvannamalai</h5>
                  </div>
  
                </div>
            </div><!-- End Tiruvannamalai -->

            <div class="col-xl-2 col-md-2"></div>

            <!-- Milk Receipt -->
            <div class="col-xl-2 col-md-2">
              <div class="card info-card sales-card" style="background-color:#00FF7F">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sales <span>| Today</span></h5> -->
                  <h5 class="card-title">Milk Receipt</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-receipt-cutoff"></i>
                    </div>
                    <div class="ps-3">
                      <h5>0</h5>
                      <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Milk Receipt -->

               <!-- Marketing -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:Orange;">
  
                  <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-shop-window"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Marketing -->
              
               <!-- S&P -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#CD853F">
  
                  <div class="card-body">
                    <h5 class="card-title">S&P</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-shop-window"></i>
                      </div>
                      <div class="ps-1">
								<h5><i class="bi bi-currency-rupee"></i></h5>
                      </div>
                      <div class="ps-9">
                      	<input type='hidden' id='storesAndPurchaseLocationName'>
                        <h5 id="storesAndPurchaseLocationBasedValue">0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End S&P -->
              
               <!-- Engineering -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#FFC0CB">
  
                  <div class="card-body">
                    <h5 class="card-title">Engineering</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-wrench-adjustable"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Engineering -->
              
               <!-- Projects -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#4169E1;">
  
                  <div class="card-body">
                    <h5 class="card-title">Projects</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-card-list"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Projects -->

               <!-- P&E -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#C0C0C0;">
  
                  <div class="card-body">
                    <h5 class="card-title">P&E</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End P&E -->

               <!-- Finance -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#FF6347;">
  
                  <div class="card-body">
                    <h5 class="card-title">Finance</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cash-coin"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Finance -->

               <!-- Planning -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#40E0D0;">
  
                  <div class="card-body">
                    <h5 class="card-title">Planning</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-journal-check"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Planning -->

               <!-- Production -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#EE82EE;">
  
                  <div class="card-body">
                    <h5 class="card-title">Production</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-ui-checks-grid"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Production -->

               <!-- Trust -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#F0E68C;">
  
                  <div class="card-body">
                    <h5 class="card-title">-</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-hand-thumbs-up"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Trust -->

               <!-- Fleet Management -->
               <div class="col-xl-2 col-md-2">
                <div class="card info-card sales-card" style="background-color:#FFFF00;">
  
                  <div class="card-body">
                    <h2 class="card-title">Fleet Management</h2>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-truck"></i>
                      </div>
                      <div class="ps-3">
                        <h5>0</h5>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Fleet Management -->

               <!-- NJSF -->
               <div class="col-xl-2 col-md-2">
                    <div class="card info-card sales-card" style="background-color:#9ACD32;">
    
                    <div class="card-body">
                        <h5 class="card-title">NJSF</h5>
    
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-nut"></i>
                        </div>
                        <div class="ps-3">
                            <h5>0</h5>
                        </div>
                        </div>
                    </div>
    
                    </div>
              </div><!-- End NJSF -->

          </div>
        </div>
      </div>
	</div>          	
	<!-- End -->
</div>	